---
import { getEntry } from "astro:content";

interface Props {
  id: string;
  fullWidth?: boolean;
}

const { id, fullWidth = false } = Astro.props;
const entry = await getEntry("blocks", id);
if (!entry) throw new Error("block not found");
const { Content } = await entry.render();
---

<div
  class:list={[
    "prose max-w-none dark:prose-invert",
    // link
    "prose-a:no-underline hover:prose-a:underline",
    // blockquote
    "prose-blockquote:border-0 prose-blockquote:px-0",
    // pre
    fullWidth ? "prose-pre:-mx-4 prose-pre:rounded-none prose-pre:sm:rounded-md" : "",
    // code
    "prose-code:rounded prose-code:px-1.5 prose-code:py-0.5",
    "prose-code:font-sans prose-code:font-normal",
    "prose-code:bg-gray-3 dark:prose-code:bg-grayDark-4",
    "prose-code:before:content-[] prose-code:after:content-[]",
    // img
    "prose-img:mx-auto prose-img:rounded-md",
  ]}
>
  <Content />
</div>
