---
import Html from "ui/html.astro";
---

<Html title="404" description="Page not found" robots="noindex">
  <div class="mt-8 text-center text-lg font-semibold text-red-500">404</div>
  <h1 class="text-center text-3xl font-black">Page not found</h1>
</Html>
