---
import Html from "ui/html.astro";
import Block from "ui/block.astro";
---

<Html title="Fin Builtins" description="Built-in extensions to the fin text format">
  <div class="w-full max-w-2xl px-4 py-8 sm:py-16">
    <Block id="builtins" />
  </div>
</Html>
