---
import Html from "ui/html.astro";
---

<Html title="Fin Text Format" description="A general purpose notation for data interchange">
  <div class="mx-auto w-full max-w-7xl py-4 sm:py-16">
    <div class="flex flex-col items-center gap-4 sm:gap-16 lg:flex-row lg:px-8">
      <div class="w-full px-4 sm:px-8 lg:px-0">
        <div>
          <div class="inline-flex items-center gap-2">
            <h1 class="text-2xl font-bold leading-none sm:text-4xl sm:leading-none">
              Fin Text Format{" "}
            </h1>
            <a
              class="bg-red-9 dark:bg-redDark-9 text-gray-1 ml-2 inline-flex rounded px-2 py-px text-sm font-bold uppercase hover:underline sm:text-base"
              href="/grow"
            >
              unstable
            </a>
          </div>
          <p class="text-sm sm:text-base">A general purpose notation for data interchange.</p>
        </div>
      </div>
      <pre
        class="bg-gray-3 dark:bg-grayDark-5 w-full overflow-x-auto p-3 text-sm leading-tight sm:max-w-lg sm:rounded-lg sm:text-base sm:leading-tight">
      </pre>
    </div>
  </div>
</Html>
