---
import Html from "ui/html.astro";
import Block from "ui/block.astro";
---

<Html title="Fin Text Format" description="A general purpose notation for data interchange">
  <div class="mx-auto w-full max-w-7xl py-4 sm:py-16">
    <div class="flex flex-col items-center gap-4 sm:gap-16 lg:flex-row lg:px-8">
      <div class="w-full px-4 sm:px-8 lg:px-0">
        <div>
          <div class="inline-flex items-center gap-2">
            <h1 class="text-2xl font-bold leading-none sm:text-4xl sm:leading-none">
              Fin Text Format
            </h1>
            <a
              class="ml-2 inline-flex rounded bg-red-9 px-2 py-px text-sm font-bold uppercase text-gray-1 hover:underline sm:text-base dark:bg-redDark-9"
              href="/dev-process"
            >
              unstable
            </a>
          </div>
          <p class="">A general purpose notation for data interchange.</p>
        </div>
        <Block id="test" fullWidth={true} />
      </div>
      <pre
        class="w-full overflow-x-auto bg-gray-3 p-3 text-sm leading-tight sm:max-w-lg sm:rounded-lg sm:text-base sm:leading-tight dark:bg-grayDark-5">
      </pre>
    </div>
  </div>
</Html>
