---
import Block from "ui/block.astro";
import Html from "ui/html.astro";
---

<Html title="Roadmap" description="A roadmap for the fin project">
  <div class="mx-auto w-full max-w-xl px-4 py-8 sm:py-16">
    <Block id="roadmap" />
  </div>
</Html>
