---
import Block from "ui/block.astro";
import Html from "ui/html.astro";
---

<Html title="Fin Specification" description="The core specification for the fin text format">
  <div class="w-full max-w-prose px-4 py-8">
    <Block id="spec" fullWidth={true} />
  </div>
</Html>
